﻿@model CD_Store.Web.Models.LemezViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Új lemez hozzáadása</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Album" class="control-label"></label>
                <input asp-for="Album" class="form-control" />
                <span asp-validation-for="Album" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eloado" class="control-label"></label>
                <input asp-for="Eloado" class="form-control" />
                <span asp-validation-for="Eloado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stílus" class="control-label"></label>
                <input asp-for="Stílus" class="form-control" />
                <span asp-validation-for="Stílus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vonalkod" class="control-label"></label>
                <input asp-for="Vonalkod" class="form-control" />
                <span asp-validation-for="Vonalkod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kiado" class="control-label"></label>
                <input asp-for="Kiado" class="form-control" />
                <span asp-validation-for="Kiado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boritotkeszitette" class="control-label"></label>
                <input asp-for="Boritotkeszitette" class="form-control" />
                <span asp-validation-for="Boritotkeszitette" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Létrehozás" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vissza a főoldalra</a>
</div>