﻿@model CD_Store.Web.Models.LemezViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Lemez törlése</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eloado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eloado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stílus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stílus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vonalkod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vonalkod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kiado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kiado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boritotkeszitette)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boritotkeszitette)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Album" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index">Vissza a főoldalra</a>
    </form>
</div>
