﻿@model CD_Store.Web.Models.LemezViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Lemez részletező</h1>

<div>
    <h4>Lemez</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eloado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eloado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stílus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stílus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vonalkod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vonalkod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kiado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kiado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boritotkeszitette)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boritotkeszitette)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Album">Módosítás</a> |
    <a asp-action="Index">Vissza a főoldalra</a>
</div>
