﻿@model CD_Store.Web.Models.LemezViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Lemez módosítása</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Album" />
            <div class="form-group">
                <label asp-for="Eloado" class="control-label"></label>
                <input asp-for="Eloado" class="form-control" />
                <span asp-validation-for="Eloado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stílus" class="control-label"></label>
                <input asp-for="Stílus" class="form-control" />
                <span asp-validation-for="Stílus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vonalkod" class="control-label"></label>
                <input asp-for="Vonalkod" class="form-control" />
                <span asp-validation-for="Vonalkod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kiado" class="control-label"></label>
                <input asp-for="Kiado" class="form-control" />
                <span asp-validation-for="Kiado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boritotkeszitette" class="control-label"></label>
                <input asp-for="Boritotkeszitette" class="form-control" />
                <span asp-validation-for="Boritotkeszitette" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Módosítás" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vissza a főoldalra</a>
</div>
