﻿@model IEnumerable<CD_Store.Web.Models.LemezViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lemez főoldala</h1>

<p>
    <a asp-action="Create">Adjon hozzá egy új lemezt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eloado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stílus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vonalkod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kiado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boritotkeszitette)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eloado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stílus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vonalkod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kiado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boritotkeszitette)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Album">Módosítás</a> |
                <a asp-action="Details" asp-route-id="@item.Album">Részletező</a> |
                <a asp-action="Delete" asp-route-id="@item.Album">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
